/* Newspaper, a medium of many fonts and dedicated sections. */
@font-face {
    font-family: News; /*Specifies font name */
    src: url(fonts1/OldNewspaperTypes.ttf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: Header; /*Specifies font name */
    src: url(fonts1/TELETYPE1945-1985.ttf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: Subheads; /*Specifies font name */
    src: url(fonts1/RedwaterBankerItalic_PERSONAL_USE.otf) format("opentype"); /*Source path for font */
}
@font-face {
    font-family: Special; /*Specifies font name */
    src: url(fonts1/) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: Summary; /*Specifies font name */
    src: url(fonts1/GCursive.ttf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: SummaryDownload; /*Specifies font name */
    src: url(fonts1/MaszynaRoyalDark.ttf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: Preamble; /*Specifies font name */
    src: url(fonts1/HumboldtFraktur-Bold.ttf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: Explanation; /*Specifies font name */
    src: url(fonts1/Offenbacher\ Reform\ CAT.ttf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: Participation; /*Specifies font name */
    src: url(fonts1/Goodfish\ Bd.otf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: BoldItalic; /*Specifies font name */
    src: url(fonts1/Goodfish\ Bd\ It.otf) format("truetype"); /*Source path for font */
}
body {
    background-image: url(assets1/body.jpg); /*Background and path for image for outer page */
}
.intro {
    padding-top: 0.1em; /*Space above header's border line */
    grid-area: intro;
    display: grid;
    grid-template-areas: "header header header"
                         "summary preamble preamble"
                         "summary preamble preamble";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
}
header h1 {
    font-family: Header, 'Arial Narrow', Arial, sans-serif; /*CSS ZEN GARDEN uses specified font family */
    font-size: 2.6em; /*Bigger font size for visibility */
    text-align: center; /*CSS ZEN GARDEN is centered */
    border-top: 3px solid rgba(27, 24, 24, 0.9); /*Black border on top of CSS ZEN GARDEN */
}
header[role="banner"] h1 {
    border-bottom: 3px solid rgba(27, 24, 24, 0.9); /*Black border on bottom of CSS ZEN GARDEN */
}
header h2 {
    font-family: Subheads, 'Arial Narrow', Arial, sans-serif; /*The Beauty of CSS Design uses specified font family */
    font-size: 1.1em; /*Bigger font size for visibility */
    font-weight: normal; /*Removes bold default weight for readability */
    text-align: center;
    margin-top: -1.5em;
    border-bottom-style: double;
    border-bottom-width: 3.4px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
header abbr {
    text-decoration-line: none; /*Removes default dotted line decoration */
    font-style: italic;
    font-weight: bold;   
}
.page-wrapper {
    width: 1500px; /*Establishes all content within 1600px width */
    background-image: url(assets1/Fresh\ Plain\ White\ Background.jpg); /*Background and path for image resembling a vintage newspaper aesthetic */
    margin-left: 14em; /*Moves 9em away from the left for centering the newspaper */

    /*GRID*/
    display: grid; /* Shows content areas as grid enabled */
    grid-template-areas: "intro intro intro"
                         "sidebar main-supporting main-supporting"
                         "sidebar main-supporting main-supporting";
    grid-template-columns: 1.3fr 1fr 3fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
}
p {
    font-family: News, 'Times New Roman', Times, serif; /*Paragraphs uses specified font family */
    letter-spacing: -0.03em; /*Narrows letter spacing to emulate crowded newspaper typography */
    line-height: 1em; /*Shorter line height to emulate crowded newspaper typography */
}
.summary p:first-child {
    font-family: Summary, 'Arial Narrow', Arial, sans-serif; /*Summary uses specified font family */
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 0.015em;
    line-height: 1.1em;
    width: 89%;
    text-align: right;
    margin-top: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    border-right: 2px solid rgba(27, 24, 24, 0.9);
    border-bottom: 1px double rgba(27, 24, 24, 0.9);
    border-bottom-width: 3px;
}
.summary abbr {
    text-decoration-line: none; /*Removes default dotted line decoration */
    font-style: italic;
    font-size: 1.1em;
}
.summary p:nth-child(2) {
    font-family: SummaryDownload, 'Arial Narrow', Arial, sans-serif; /*SummaryDownload uses specified font family */
    font-size: 1.4em;
    width: 89%;
    text-align: right;
    padding-left: 0.5em;
    padding-right: 0.8em;
    padding-top: 0.2em;
    border-right: 2px solid rgba(27, 24, 24, 0.9);
    border-top: 1px double rgba(27, 24, 24, 0.9);
    border-top-width: 3px;
}
.preamble h3 {
    font-family: Preamble, 'Arial Narrow', Arial, sans-serif; /*Preamble uses specified font family */
    font-size: 4em;
    padding: 0;
    margin: 0;
    line-height: 1em;
    margin-bottom: 0.2em;
}
.preamble p {
   font-size: 1.3em;
   margin-block: 0.1em;
   width: 98%;
   text-indent: 1.5em;
   padding-bottom: 0.5em;
}
.preamble p:nth-child(4) {
    border-bottom: 2px solid rgba(27, 24, 24, 0.9);
}
.preamble p::first-letter {
    font-weight: bold;
}
.explanation {
    width: 90%;
}
.explanation h3 {
    font-family: Explanation, 'Arial Narrow', Arial, sans-serif; /*Explanation uses specified font family */
    font-size: 2.4em;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
    line-height: 1em;
    margin-bottom: 0.2em;
}
.explanation p {
    font-size: 1.3em;
    margin: 0;
    text-indent: 1.5em;
    padding-bottom: 0.5em;
}
.explanation p::first-letter {
    font-weight: bold;
}
.participation h3 {
    font-family: Participation, 'Arial Narrow', Arial, sans-serif; /*Participation uses specified font family */
    font-size: 3em;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 0.2em;
}
.participation {
    width: 98%;
}
.participation p {
    margin: 0;
    font-size: 1.3em;
    text-indent: 1.5em;
    padding-bottom: 0.5em;
 }
 .participation p::first-letter {
    font-weight: bold;
}
.benefits h3 {
    font-family: Participation, 'Arial Narrow', Arial, sans-serif; /*Participation uses specified font family */
    font-size: 3em;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 0.2em;
}
.benefits {
    width: 98%;
}
.benefits p {
    margin: 0;
    font-size: 1.3em;
    text-indent: 1.5em;
    padding-bottom: 0.5em;
 }
 .benefits p::first-letter {
    font-weight: bold;
}
.requirements h3 {
    font-family: Participation, 'Arial Narrow', Arial, sans-serif; /*Participation uses specified font family */
    font-size: 3em;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 0.2em;
}
.requirements {
    width: 96%;
}
.requirements p {
    margin: 0;
    font-size: 1.3em;
    text-indent: 1.5em;
    padding-bottom: 0.5em;
 }
 .requirements p::first-letter {
    font-weight: bold;
}

.design-selection, .design-archives, .zen-resources {
    width: 90%;
    border-right: 2px solid rgba(27, 24, 24, 0.9);
}
.design-selection h3, .design-archives h3, .zen-resources h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: Participation, 'Arial Narrow', Arial, sans-serif; /*tipo uses specified font family */
    font-size: 3em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
    line-height: 1em;
    margin-bottom: 0.2em;
}
ul {
    list-style-type: upper-roman;
    list-style-position: inside;
}
ul li::marker {
    font-family: Header, 'Arial Narrow Bold', sans-serif
}
ul li a {
    font-size: 1.4em;
    text-decoration-line: none;
}
a {
    text-decoration-line: underline; /*Removes default underline decoration */
    font-weight: bold;
    color: rgba(17, 37, 69, 1);
}

/* MORE CSS GRID, MAIN GRIDS: Intro, Main-supporting, Sidebar*/

header {
    grid-area: header
}
.summary {
    grid-area: summary;
}
.preamble {
    grid-area: preamble;
}

/*Main-supporting subgrids*/
.main.supporting {
    display: grid;
    grid-area: main-supporting;
    grid-template-areas: "participation participation explanation"
                         "requirements requirements explanation"
                         "benefits benefits footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .7fr 1.3fr 1fr;
    gap: 0px 0px;
}
.participation {
    grid-area: participation;
 
}
.explanation {
    grid-area: explanation;
}
.benefits {
    grid-area: benefits;

}
.requirements {
    grid-area: requirements;

}
footer {
    grid-area: footer;
}

/*Sidebar subgrids*/
.sidebar {
    display: grid;
    grid-template-areas: "wrapper wrapper wrapper"
                         "wrapper wrapper wrapper"
                         "wrapper wrapper wrapper";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: sidebar;
    gap: 0px 0px;
}
.wrapper {
    display: grid;
    grid-template-areas: "design-selections design-selections design-selections"
                         "design-archives design-archives design-archives"
                         "zen-resources zen-resources zen-resources";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: wrapper;
    gap: 0px 0px;
}
.design-selection {
    grid-area: design-selections;
}
.design-archives {
    grid-area: design-archives;
}
.zen-resources {
    grid-area: zen-resources;
}
