/*Theme: Mysticism*/
@font-face { /*Establishes Custom Font*/
    font-family: Pfeffer;  /*Specifies font name */
    src: url(fonts2/PfefferMediaeval.otf) format("opentype"); /*Source path for font */
}
@font-face { /*Establishes Custom Font*/
    font-family: Vespasian;  /*Specifies font name */
    src: url(fonts2/OldeEnglish.ttf) format("truetype"); /*Source path for font */
}
@font-face { /*Establishes Custom Font*/
    font-family: Junicode;  /*Specifies font name */
    src: url(fonts2/Junicode-Ansund-Regular.otf) format("opentype"); /*Source path for font */
}
@font-face { /*Establishes Custom Font*/
    font-family: Nightmare;  /*Specifies font name */
    src: url(fonts2/TypographerRotunda.ttf) format("truetype"); /*Source path for font */
}
@font-face { /*Establishes Custom Font*/
    font-family: Initials;  /*Specifies font name */
    src: url(fonts2/BritishMuseum.ttf) format("truetype"); /*Source path for font */
}
@font-face { /*Establishes Custom Font*/
    font-family: Initials2;  /*Specifies font name */
    src: url(fonts2/HeavyRain_PERSONAL_USE_ONLY.ttf) format("truetype"); /*Source path for font */
}
/*GRIDS*/
.intro { /*Affects header, preamble, and summary*/
    display: grid; /*Enables grid layout*/
    grid-template-areas: "header header header" /*3 columns of header*/
                         "preamble preamble summary" /*2 columns of preamble,1 of summary*/
                         "preamble preamble summary"; /*2 columns of preamble, 1 of summary*/
    grid-template-columns: 1fr 1fr 1fr; /*columns are equal proportions*/
    grid-template-rows: auto 1fr auto; /*rows are equal proportions*/
    grid-area: intro; /*specifies grid area*/
    gap: 0px 0px; /*No gutters*/
}
header { /*Affects the two titles*/
    grid-area: header; /*Sets sub grid as header*/
    background-color: #3b382a;
    background: radial-gradient(circle,rgba(199, 182, 119, 1) 0%, rgba(130, 21, 14, 1) 1%, rgba(122, 1, 1, 1) 11%, rgba(26, 12, 12, 1) 86%);
    border-radius: 70px 70px 0px 0px;
    background-image: url(assets2/silhouette.png);
    background-repeat: no-repeat;
    background-position: right;
}
.preamble { /*Affects content of preamble*/
    grid-area: preamble; /*Sets sub grid*/
}
a {
    text-decoration-line: none;
    color: green;
}
a:hover {
    display: inline-block;
    transition-duration: 0.4s;
    background-color: rgba(70, 24, 24, 0.5);
    border-radius: 10px;
}
.sidebar ul {
    list-style-type:lower-alpha;
    font-family: Nightmare;
    font-size: 1.4em;
    color: rgb(155, 143, 143);
    list-style-position: inside;
    text-align: left;
    padding-inline-start: 0;
    padding-left: 20px;
}
.sidebar a {
    color: rgb(253, 157, 157);
    letter-spacing: -0.1em;
    font-size: 1.1em;
}
.sidebar h3 {
    color: black;
    text-transform: uppercase;
    font-size: 2.3em;
    border-bottom: 2px double black;
    border-width: 5px;
}
abbr {
    text-decoration-line: none;
    font-weight: bold;
}
.summary { /*Affects content of summary*/
    grid-area: summary; /*Sets sub grid*/
    text-align: right;
    padding-right: 2em;
}
.summary p {
    font-size: 2em;
}
p::first-letter {
    font-size: 1.4em;
    font-family: Initials, Arial, Helvetica, sans-serif;
}
.preamble h3, .requirements h3, .explanation h3, .participation h3, .benefits h3 {
    padding-left: 2em;
    font-size: 2em;
    color: #D3BDB0;
    margin-top: 0;
    margin-top: 0.5em;
}

.preamble p, .requirements p, .explanation p, .participation p, .benefits p {
    padding-left: 2em;
    font-size: 1.13em;  
}
.participation p {
    width: 200px;
}
.participation h3 {
    margin-left: -20px;
}
.preamble, .requirements, .explanation, .participation, .benefits, .summary, footer {
    border: 2px solid rgba(128, 0, 0, 0.5);
}

.main.supporting { /*Affects their contents*/
    display: grid; /*Enables grid layout*/
    grid-template-areas: "requirements requirements participation" /*2 requirement, 1 participation column*/
                         "explanation explanation participation" /*2 explanation, 1 participation column*/
                         "benefits footer footer"; /*1 benefit, 2 footer columns*/
    grid-template-columns: 1.6fr 0.4fr 1fr; /*columns are equal proportions*/
    grid-template-rows: 1.4fr 1.2fr 0.4fr; /*the first row is largest, 2nd, then third*/
    grid-area: main-supporting; /*specifies grid area name*/
    gap: 0px 0px; /*No gutters*/ 
}
.requirements { /*Affects their contents*/
    grid-area: requirements; /*Name of grid area*/
}
.participation { /*Affects their contents*/
    grid-area: participation; /*Name of grid area*/
}
.explanation { /*Affects their contents*/
    grid-area: explanation; /*Name of grid area*/
}
.benefits { /*Affects their contents*/
    grid-area: benefits; /*Name of grid area*/
}
footer { /*Affects their contents*/
    grid-area: footer; /*Name of grid area*/
    text-align: center;
}
.sidebar { /*Affects their contents*/
    display: grid; /*Enables grid layout*/
    grid-template-areas: "wrapper wrapper wrapper" /*subgrid of sidebar, 3 columns of wrapper*/
                         "wrapper wrapper wrapper" /*3 wrapper cols*/
                         "wrapper wrapper wrapper"; /*3 wrapper cols*/
    grid-template-columns: 1fr 1fr 1fr; /*proportionate cols*/ 
    grid-template-rows: 1fr 1fr 1fr; /*proportionate rows*/
    gap: 0px 0px; /*No gutters*/
    grid-area: sidebar; /*Name of grid area*/
    background: url(assets2/sidebar.jpg);
    border: 10px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}
.wrapper { /*Affects their contents*/
    display: grid; /*Enables grid layout*/
    grid-template-areas: "design-archives design-archives design-archives" /*specifies 3 column layout*/
                         "zen-resources zen-resources zen-resources" /*3 column layout*/
                         "design-selection design-selection design-selection"; /*3 column layout*/
    grid-template-columns: 1fr 1fr 1fr; /*proportionate cols*/
    grid-template-rows: 1fr 1fr 1fr; /*proportionate rows*/
    gap: 0px 0px; /*No gutters*/
    grid-area: wrapper; /*Name of grid area*/
}
.design-archives {
    grid-area: design-archives;
}
.zen-resources {
    grid-area: zen-resources;
}
.design-selection {
    grid-area: design-selection;
}







/*MISC*/
body { /*Affects the body contents*/
    background-image: url(assets2/Little\ tapestry\ flowers.jpg);
    color: #F6E3AD;
}
.page-wrapper { /*Affects the whole content area of the page*/
    display: grid; /*Enables grid layout*/
    grid-template-areas: "intro intro intro" /*3 columns of intro*/
                        "main-supporting main-supporting sidebar" /*2 main, 1 sidebar column*/
                        "main-supporting main-supporting sidebar"; /*2 main 1 sidebar column*/
    grid-template-columns: 1fr 1.3fr 0.7fr; /*columns are equally proportionate*/                    
    grid-template-rows: 1fr 1fr 1fr; /*rows are equally proportionate*/
    background-image: url(assets2/download\ \(4\).jpg); /*Background and path for image resembling an ornamental frame*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-left: 20em;
    width: 1200px;
    height: 2100px;
    border-radius: 70px 70px 0px 0px;
    gap: 0px 0px; /*No gutters*/
}

p {
    font-family: Nightmare, Arial, Helvetica, sans-serif;
    color:rgb(205, 214, 175);
    width: 500px;
    text-indent: 1em;
    padding-right: 1em;
    line-height: 0.9em;
}
header h1 {
    text-align: center;
    font-family: Vespasian, Arial, Helvetica, sans-serif;
    font-size: 9em;
    font-weight: normal;
    letter-spacing: 0.1em;
}
header h1::after {
    content: "";
    display: block;
    height: 100px;
    background: url(assets2/output-onlinetools.png) no-repeat center;
}

header h2 {
    text-transform: uppercase;
    color: #3b382a;
    text-align: center;
    margin-top: -3em;
    height: 75px;
    padding-top: 2.7em;
    letter-spacing: -0.05em;
    background-image: url(assets2/banner.png);
    background-repeat: no-repeat;
    background-position: center 107px;
    background-size:770px auto; 
}
h2 {
    font-family: Junicode, Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: normal;
}
h3 {
    font-family: Pfeffer, Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
h3::first-letter {
    font-family: Initials2, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

