/* Newspaper */
@font-face {
    font-family: News; /*Specifies font name */
    src: url(fonts1/OldNewspaperTypes.ttf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: Header; /*Specifies font name */
    src: url(fonts1/TELETYPE1945-1985.ttf) format("truetype"); /*Source path for font */
}
@font-face {
    font-family: Subheads; /*Specifies font name */
    src: url(fonts1/RedwaterBankerItalic_PERSONAL_USE.otf) format("opentype"); /*Source path for font */
}
@font-face {
    font-family: Special; /*Specifies font name */
    src: url(fonts1/) format("truetype"); /*Source path for font */
}
body {
    background-image: url(assets1/body.jpg); /*Background and path for image for outer page */
}
.intro {
    padding-top: 0.1em; /*Space above header's border line */
    grid-area: intro;
    display: grid;
    grid-template-areas: "header header header"
                         "summary preamble preamble"
                         "summary preamble preamble";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
}
header h1 {
    font-family: Header, 'Arial Narrow', Arial, sans-serif; /*CSS ZEN GARDEN uses specified font family */
    font-size: 2.6em; /*Bigger font size for visibility */
    text-align: center; /*CSS ZEN GARDEN is centered */
    border-top: 3px solid rgb(27, 24, 24); /*Black border on top of CSS ZEN GARDEN */
}
header[role="banner"] h1 {
    border-bottom: 3px solid rgb(27, 24, 24); /*Black border on bottom of CSS ZEN GARDEN */
}
header h2 {
    font-family: Subheads, 'Arial Narrow', Arial, sans-serif; /*The Beauty of CSS Design uses specified font family */
    font-size: 1.1em; /*Bigger font size for visibility */
    font-weight: normal; /*Removes bold default weight for readability */
    text-align: center;
    margin-top: -1.5em;
    border-bottom-style: double;
    border-bottom-width: 3.4px;
}
header abbr {
    text-decoration-line: none; /*Removes default dotted line decoration */
    border-top: 2.5px ridge rgb(27, 24, 24); /*Replaces dotted line with solid ridge top line */
    
}
.page-wrapper {
    width: 1200px; /*Establishes all content within 1600px width */
    background-image: url(assets1/Fresh\ Plain\ White\ Background.jpg); /*Background and path for image resembling a vintage newspaper aesthetic */
    margin-left: 21em; /*Moves 9em away from the left for centering the newspaper */

    /*GRID*/
    display: grid; /* Shows content areas as grid enabled */
    grid-template-areas: "intro intro intro"
                         "sidebar main-supporting main-supporting"
                         "sidebar main-supporting main-supporting";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1r;
    gap: 0px 0px;
}
p {
    font-family: News, 'Times New Roman', Times, serif; /*Paragraphs uses specified font family */
    letter-spacing: -0.03em; /*Narrows letter spacing to emulate crowded newspaper typography */
    line-height: 1em; /*Shorter line height to emulate crowded newspaper typography */
}

/* MORE CSS GRID, MAIN GRIDS: Intro, Main-supporting, Sidebar*/

header {
    grid-area: header
}
.summary {
    grid-area: summary;
}
.preamble {
    grid-area: preamble;
}

/*Main-supporting subgrids*/
.main.supporting {
    display: grid;
    grid-template-areas: "participation participation explanation"
                         "benefits benefits explanation"
                         "requirements requirements footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
}
.participation {
    grid-area: participation;
}
.explanation {
    grid-area: explanation;
}
.benefits {
    grid-area: benefits;
}
.requirements {
    grid-area: requirements;
}
footer {
    grid-area: footer;
}

/*Sidebar subgrids*/
.sidebar {
    display: grid;
    grid-template-areas: "wrapper wrapper wrapper"
                         "wrapper wrapper wrapper"
                         "wrapper wrapper wrapper";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: sidebar;
    gap: 0px 0px;
}
.wrapper {
    display: grid;
    grid-template-areas: "design-selections design-selections design-selections"
                         "design-archives design-archives design-archives"
                         "zen-resources zen-resources zen-resources";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: wrapper;
    gap: 0px 0px;
}
.design-selections {
    grid-area: design-selections;
}
.design-archives {
    grid-area: design-archives;
}
.zen-resources {
    grid-area: zen-resources;
}
